[submodule "thirdparty/small_vector"]
	path = thirdparty/small_vector
	url = https://github.com/gharveymn/small_vector.git
[submodule "mdspan"]
	path = thirdparty/mdspan
	url = https://github.com/kokkos/mdspan.git
[submodule "thirdparty/mdspan"]
	path = thirdparty/mdspan
	url = https://github.com/kokkos/mdspan.git
